<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340760487910-rnvc0qd9p29ge9nbmld3biicm4oqd9ho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340760487910-rnvc0qd9p29ge9nbmld3biicm4oqd9ho</string>
	<key>API_KEY</key>
	<string>AIzaSyBnx1YnxQpVtA9mq6eBJMSvUeX8cExiYIM</string>
	<key>GCM_SENDER_ID</key>
	<string>340760487910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pro</string>
	<key>PROJECT_ID</key>
	<string>dima-server</string>
	<key>STORAGE_BUCKET</key>
	<string>dima-server.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340760487910:ios:6077dea98938ac57155827</string>
</dict>
</plist>